<!-- <p id="notice"><%#= notice %></p>

<p>
  <b>Name:</b>
  <%#= @student.name %>
</p>

<p>
  <b>Tagline:</b>
  <%#= @student.tagline %>
</p>

<p>
  <b>Bio:</b>
  <%#= @student.bio %>
</p>

<p>
  <b>Treehouse profile:</b>
  <%#= @student.treehouse_profile %>
</p>

<p>
  <b>Linkedin:</b>
  <%#= @student.linkedin %>
</p>

<p>
  <b>Twitter:</b>
  <%#= @student.twitter %>
</p>

<p>
  <b>Github:</b>
  <%#= @student.github %>
</p>

<p>
  <b>Quote:</b>
  <%#= @student.quote %>
</p>


<%#= link_to 'Edit', edit_student_path(@student) %> |
<%#= link_to 'Back', students_path %> -->


      <div class="link-subs">
        <span>
          <img src="../img/student-icons/swiss-army-knife.png" style="width: 16px;" /> <%= @student.name %></span>

        <ul>
          <li><a href="#scroll-about">About</a></li>
          <li>|</li>
          <li><a href="#scroll-coder-cred">Coder Cred</a></li>
          <li>|</li>
          <li><a href="#scroll-recently">Recently</a></li>
          <li>|</li>
          <li><a href="#scroll-favorites">Favorites</a></li>
        </ul>
      </div>
    </div>
    <!-- End Header -->

    <!-- Begin Content -->
    <div class="container">

      <!-- Begin Splash Image -->
      <div class="top-page-title">
        <div>
          <img src="../img/<%=@student.id%>.jpg" class="student_pic">
        </div>
      </div>
      <! -- End Splash Image -->

      <!-- Begin Title Content -->
      <div class="page-title">
        <h4 class="ib_main_header"><%= @student.name %></h4>
        <div class="social-icons">
          <a href="https://twitter.com/DRodNYC"><i class="icon-twitter ib-social-icons"></i></a>
          <a href="http://www.linkedin.com/pub/david-rodriguez/68/746/427/"><i class="icon-linkedin-sign ib-social-icons"></i></a>
          <a href="https://github.com/rodriguezd"><i class="icon-github ib-social-icons"></i></a>
          <a href="#"><i class="icon-rss ib-social-icons"></i></a>
        </div>

        <div class="section section-testimonials-curriculum quote-div">
          <div id="testimonial-slider" class="flexslider">
            <ul class="testimonials slides">
              <li id="text-7" class="widget_text" style="list-style: none; display: list-item;">
                <div class="textwidget">
                  <h3>"It's better to regret something you did than something you didn't do." -- Butthole Surfers</h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Title Content -->

      <!-- Some Content on Full Width -->
      <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
        <div id="scroll-about" class="section section-services">
          <div class="section-title">
            <span class="actual-title">About</span>
            <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
          </div>

          <div class="services-wrap" id="equalize">

            <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title"><h3>Biography</h3></div>
                <div class="clear"></div>
                <p>
                  Originally from Florida, born and raised in Miami. I attended the University of Florida where I earned a degree in Electrical Engineering. After college, I worked for Accenture and later Bank of America. After a tour as a project manager at the bank, I switched to teaching. I'm done with teaching now and the time has come to become an awesome developer.
                </p>
              </div>
            </div>

            <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title"><h3>Education</h3></div>
                <div class="clear"></div>
                <ul>
                  <li><a href="www.ufl.edu">University of Florida</a><p>B.S. Electrical Engineering</p></li>
                </ul>
              </div>
            </div>

            <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
              <div class="services">
                <div class="services-title"><h3>Work</h3></div>
                <div class="clear"></div>
                <p>
                  <ul class="check_style">
            <li>Accenture Consulting</li>
            <li>Bank of America</li>
            <li>Xaverian High School</li>
          </ul>
                </p>
              </div>
            </div>
          </div>

          <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
            <div class="section section-services">
              <div id="scroll-coder-cred" class="section-title">
                <span class="actual-title">Coder Cred</span>
                <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
              </div>

              <div class="services-wrap section coder-cred" id="equalize">

                <div class="column fourth">
                  <a href="http://www.github.com/rodriguezd" target="_blank"><img src="http://static.001.students.flatironschool.com/images/github_eewang.png" alt="GitHub" width="130px"></a>
                </div>

                <div class="column fourth">
                  <a href="http://teamtreehouse.com/davidrodriguez2" target="_blank"><img src="http://static.001.students.flatironschool.com/images/treehouse_eewang.png" alt="Treehouse" width="130px"></a>
                </div>

                <div class="column fourth">
                  <a href="http://www.codeschool.com/users/DRod" target="_blank"><img src="http://static.001.students.flatironschool.com/images/codeschool_eewang.jpg" alt="Code School" width="130"></a>
                </div>

                <div class="column fourth">
                  <a href="https://coderwall.com/rodriguezd" target="_blank"><img src="http://static.001.students.flatironschool.com/images/coderwall_eewang.jpeg" alt="Coder Wall" width="130"></a>
                </div>
              </div>
              <! -- End Service -->
            </div>
            <! -- End Coder Cred -->
          </div>

          <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
            <div id="scroll-recently" class="section section-services">
              <div class="section-title">
                <span class="actual-title">Recently</span>
                <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
              </div>

              <div class="services-wrap" id="equalize">
                <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
                  <div class="services">
                    <div class="services-title">
                      <h3>Coding Profiles</h3>
                    </div>
                    <div class="clear"></div>
                    <p>
                      - <a href="http://www.codeschool.com/users/DRod">Code School</a><br>
                      - <a href="http://teamtreehouse.com/davidrodriguez2">Treehouse</a><br>
                      - <a href="http://www.codecademy.com/drodnyc">Codecademy</a><br>
                      - <a href="https://coderwall.com/rodriguezd/">Coder Wall</a><br>
                    </p>
                  </div>
                </div>

                <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
                  <div class="services">
                    <div class="services-title"><h3>Personal Projects</h3>
                  </div>
                  <div class="clear"></div>
                  <p>
                    <!-- - <a href="http://www.rulethejungle.com">Rule the Jungle (Date Planning App)</a><br>
                    - <a href="http://www.flockwithme.com">Flock (Mobile App)</a><br>
                    - <a href= -->"http://www.awaxman.com">Personal Homepage</a><br>
                  </p>
                </div>
              </div>

              <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
                <div class="services">
                  <div class="services-title">
                    <h3>Flatiron School Projects</h3>
                  </div>
                  <div class="clear"></div>
                  <p>Comming Soon..</p>
                </div>
              </div>
            </div>
          </div>

          <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
            <div id="scroll-favorites" class="section section-services">
              <div class="section-title">
                <span class="actual-title">Favorites</span>
                <div class="go-to-top"><a href="#scroll-header">Go To Top</a></div>
              </div>

              <div class="services-wrap" id="equalize">
                <div id="ok-text-column-2" class="column ok-text-column" style="height: 204px;">
                  <div class="services">
                    <div class="services-title">
                      <h3>Coding Profiles</h3>
                    </div>
                    <div class="clear"></div>
                    <p>
                      - <a href="http://www.codeschool.com/users/DRod">Code School</a><br>
                      - <a href="http://teamtreehouse.com/davidrodriguez2">Treehouse</a><br>
                      - <a href="http://www.codecademy.com/drodnyc">Codecademy</a><br>
                      - <a href="https://coderwall.com/rodriguezd/">Coder Wall<<br>
                    </p>
                  </div>
                </div>

                <div id="ok-text-column-3" class="column ok-text-column" style="height: 204px;">
                  <div class="services">
                    <div class="services-title"><h3>Personal Projects</h3>
                  </div>
                  <div class="clear"></div>
                  <p>
                    <!-- - <a href="http://www.rulethejungle.com">Rule the Jungle (Date Planning App)</a><br>
                    - <a href="http://www.flockwithme.com">Flock (Mobile App)</a><br>
                    - <a href="http://www.awaxman.com">Personal Homepage</a><br> -->
                  </p>
                </div>
              </div>

              <div id="ok-text-column-4" class="column ok-text-column" style="height: 204px;">
                <div class="services">
                  <div class="services-title">
                    <h3>Flatiron School Projects</h3>
                  </div>
                  <div class="clear"></div>
                  <p>Comming Soon..</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
